<template>
  <div class="card card-result">
    <div class="card-header">
      <router-link :to="'/showdetails/' + idshow"
                   class="is-active navbar-item" v-if="isShowDetails">
        DETAILS
      </router-link>
      <p class="card-header-title">{{title}}</p>
      <a class="card-header-icon">
        <span class="icon" :class="{'is-favorite': isFavorited}" @click.prevent.stop="toggleFavorited">
        <i class="fa fa-star"></i>
      </span>
      </a>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-128x200">
              <img :src="image" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <p class="">Created in {{creation_date}} - {{number_of_season}} seasons</p>
          <p class="tags">
            <span class="tag" v-for="(genre, idx) in genres" :key="idx">{{genre}}</span>
          </p>
          <p class="tags"><span class="tag" :class="[colorStatus]">{{status}}</span></p>
          <div class="content" @click="description">
            {{ description }}
          </div>
        </div>
      </div>
    </div>
  </div>
  </template>

<script>
export default {
  name: 'card',
  props: {
    idshow: Number,
    title: String,
    description: String,
    status: String,
    image: String,
    creation_date: String,
    number_of_season: String,
    genres: Array,
    isFavorited: Boolean
  },
  computed: {
    isShowDetails ()  { return !(this.$route.params.idshow) },
    colorStatus () {
      return (this.status === 'Continuing') ? 'is-primary' : 'is-warning'
    },
  },
  methods: {
    toggleFavorited() {
      this.$emit('togglefavorite')
    }
  }
}
</script>