<template>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title" v-cloak>{{title}}</h1>
        <div class="field">
          <label class="label">Search</label>
          <div class="control">
            <input class="input" type="text" v-model="searchText" placeholder="Game of thrones, Breaking bad, ..."
                  @keyup.enter="filterTitle" autofocus>
          </div>
        </div>
        <card v-for="(mockOneData, idx) in filteredShows" :key="mockOneData.id"
              :title="mockOneData.title"
              :image="mockOneData.images.poster"
              :status="mockOneData.status"
              :creation_date="mockOneData.creation"
              :number_of_season="mockOneData.episodes"
              :genres="mockOneData.genres"
              :description="mockOneData.description"
              :is-favorited="mockOneData.user.favorited" 
              @togglefavorite="toggleFavorite(idx)"></card>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import card from '@/components/cardComponent'

export default {
  name: 'favs',
  components: {
    card: card
  },
  data () {
    return {
      title: 'TV Show Store',
      mockData: [],
      searchText: ''
    }
  },
  computed: {
    filteredShows () {
      return this.mockData.filter((show) => {
        return show.user.favorited
      })
    }
  },
  methods: {
    toggleFavorite (id) {
      this.mockData[id].user.favorited = !this.mockData[id].user.favorited
    }
  },
  async mounted () {
    let shows = await axios.get('http://localhost:4000/rest/shows')
    this.mockData = shows.data
  }
}
</script>