<template>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" v-cloak>{{title}}</h1>
      <card v-if="mockOneData"
            :idshow="mockOneData.id"
            :title="mockOneData.title"
            :image="mockOneData.images.poster"
            :status="mockOneData.status"
            :creation_date="mockOneData.creation"
            :number_of_season="mockOneData.episodes"
            :genres="mockOneData.genres"
            :description="mockOneData.description"
            :is-favorited="mockOneData.user.favorited" 
            @togglefavorite="toggleFavorite"></card>
    </div>
  </div>
</section>
</template>

<script>
import axios from 'axios'
import card from '@/components/cardComponent'

export default {
  name: 'showdetails',
  components: {
    card: card
  },
  props: {
    idshow: null
  },
  data () {
    return {
      title: 'TV Show Details',
      mockOneData: null
    }
  },
  methods: {
    async toggleFavorite () {
      this.mockOneData.user.favorited = !this.mockOneData.user.favorited
      await axios.post('http://localhost:4000/rest/shows/' + this.idshow + '/favorites', {
        isFavorites: this.mockOneData.user.favorited
      })
    }
  },
  async mounted () {
    let show = await axios.get('http://localhost:4000/rest/shows/' + this.idshow)
    this.mockOneData = show.data
  }
}
</script>