<template>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title" v-cloak>
          <img id="vue-logo" src="../assets/logo.png">
          <span id="show-title">{{title}}</span>
          </h1>
        <div class="field">
          <label class="label">Search</label>
          <div class="control">
            <input class="input" type="text" v-model="searchText" placeholder="Game of thrones, Breaking bad, ..."
                  @keyup.enter="filterTitle" autofocus>
          </div>
        </div>
        <transition-group name="custom-classes-transition"
                    enter-active-class="animated fadeIn"
                    leave-active-class="animated bounceOutRight">
          <card v-for="(mockOneData, idx) in filteredShows" :key="mockOneData.id"
                :idshow="mockOneData.id"
                :title="mockOneData.title"
                :image="mockOneData.images.poster"
                :status="mockOneData.status"
                :creation_date="mockOneData.creation"
                :number_of_season="mockOneData.episodes"
                :genres="mockOneData.genres"
                :description="mockOneData.description"
                :is-favorited="mockOneData.user.favorited" 
                @togglefavorite="toggleFavorite(idx)"></card>
        </transition-group>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import card from '@/components/cardComponent'

export default {
  name: 'shows',
  components: {
    card: card
  },
  data () {
    return {
      title: 'TV Show Store',
      searchText: ''
    }
  },
  computed: {
    ...mapGetters ({
      mockData: 'showListing',
    }),
    filteredShows () {
      return this.mockData.filter((show) => {
        let reg = new RegExp(this.searchText, 'i')
        return show.title.match(reg)
      })
    }
  },
  methods: {
    async toggleFavorite (id) {
      this.mockData[id].user.favorited = !this.mockData[id].user.favorited
      await axios.post('http://localhost:4000/rest/shows/' + this.mockData[id].id + '/favorites', {
        isFavorites: this.mockData[id].user.favorited
      })
    }
  },
  mounted () {
    // Récupère la liste des TV Shows sur l'api (elle est triée)
    this.$store.dispatch('fetchAllShows')
  }
}
</script>

<style>
  #vue-logo {
    display: inline-block;
    margin-right: 10px;
    width: 28px
  }
</style>
