<template>
  <div>
    <div class="container">
      <nav class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <span class="icon">
                <i class="fa fa-arrow-left"></i>
            </span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <router-link to="/shows" active-class="is-active" class="navbar-item">Shows</router-link>
            <router-link to="/favs" active-class="is-active" class="navbar-item">Favorites</router-link>
          </div>
        </div>
      </nav>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.navbar-item.is-active {
    color: #00D1B2 !important;
}

.card-result {
    margin-bottom: 20px;
}
 
.is-128x200 {
    height: 200px;
    width: 128px;
}

.is-favorite {
    color: #FFDD57;
}

[v-cloak] {
  display: none;
}
</style>
